<% provide :provided_name, "Home" %>

<%= render partial: "home/slider" %>

<%= render partial: "about_us/about" %>

<div class="parallax section parallax-off" data-stellar-background-ratio="0.9" style="background-image:url('uploads/parallax_04.jpg');">
    <div class="container">
        <div class="row text-center stat-wrap">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-briefcase"></i></span>
                <p class="stat_count">1200</p>
                <h3>Complated Projects</h3>
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-happy"></i></span>
                <p class="stat_count">3210</p>
                <h3>Happy Clients</h3>
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-idea"></i></span>
                <p class="stat_count">3781</p>
                <h3>Customer Services</h3>
            </div><!-- end col -->

            <div class="col-md-3 col-sm-6 col-xs-12">
                <span data-scroll class="global-radius icon_wrap effect-1"><i class="flaticon-customer-service"></i></span>
                <p class="stat_count">4300</p>
                <h3>Answered Questions</h3>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<%= render partial: "our_services/services" %>

<div class="parallax section noover" data-stellar-background-ratio="0.7" style="background-image:url('uploads/parallax_05.png');">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="customwidget text-left">
                    <h1>Beautiful Websites</h1>
                    <p>Full access control of the background parallax effects, <br>change your awesome background elements and edit colors from style.css or colors.css</p>
                    <ul class="list-inline">
                        <li><i class="fa fa-check"></i> Custom Sections</li>
                        <li><i class="fa fa-check"></i> Parallax's</li>
                        <li><i class="fa fa-check"></i> Icons & PSD</li>
                        <li><i class="fa fa-check"></i> Limitless Colors</li>
                    </ul><!-- end list -->
                    <a href="#services" data-scroll class="btn btn-light btn-radius btn-brd">Learn More</a>
                </div>
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="text-center image-center hidden-sm hidden-xs">
                    <img src="uploads/device_03.png" alt="" class="img-responsive wow fadeInUp">
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="features" class="section lb">
    <div class="container">
        <%= render partial: "features/title" %>

        <%= render partial: "features/row" %>
    </div><!-- end container -->
</div><!-- end section -->

<%= render partial: "shared/bottom/testimonials_section" %>
